@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* the props */
@import "https://unpkg.com/open-props";

:root {
  /* primary */
  --primarySoftBlue: hsl(215, 51%, 70%);
  --primaryCyan: hsl(178, 100%, 50%);

  /* neutral */
  --bgColor: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --lineColor: hsl(215, 32%, 27%);
  --whiteColor: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bgColor);
  color: var(--whiteColor);
}

main {
  padding: var(--size-fluid-4);
  display: grid;
  place-items: center;
}
a {
  text-decoration: none;
}
/* p {
  font-size: 18px;
} */

img {
  max-width: 100%;
}

.card {
  max-width: 20rem;
  background-color: var(--cardBG);
  padding: var(--size-fluid-2);
  border-radius: var(--radius-3);
  margin-bottom: var(--size-7);

  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-2);
}

.card__image--container:hover {
  cursor: pointer;
  background-color: var(--primaryCyan);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.card__image--container {
  border-radius: var(--radius-2);
  position: relative;
  inset: 0;
}

.card__image {
  border-radius: var(--radius-2);
  /* cursor: pointer; */
}
.card__image--container:hover .card__image {
  opacity: 0.5;
  position: relative;
  background-color: var(--primaryCyan);
}

.card__image--container:hover .card__image--icon {
  content: url("./images//icon-view.svg");
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 !important;
  /* left: 46%; */
}
/* 
.card__image::after {
  content: "";
  position: absolute;
  background: var(--primaryCyan);
  inset: 0;
}

.card__image:is(:hover) {
  opacity: 1;
} */
.card_title {
  font-weight: 600;
  font-size: var(--font-size-4);
}

.card_title:hover {
  color: var(--primaryCyan);
  cursor: pointer;
}

.card p {
  color: var(--primarySoftBlue);
  font-weight: 300;
}

.card__separator {
  color: var(--lineColor);
  border-top: var(--border-size-1) solid var(--lineColor);
}

.card__middle {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__middle .eth {
  color: var(--primaryCyan);
}

.eth,
.time {
  font-size: var(--font-size-1);
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.card__bottom {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.card__bottom img {
  width: 30px;
  height: 30px;
  border-radius: var(--radius-round);
  border: var(--border-size-1) solid var(--whiteColor);
}

.card__bottom .name {
  color: var(--whiteColor);
}

.name:hover {
  color: var(--primaryCyan);
}
